@use './colors.scss' as *;
@use './mixins.scss' as *;

.container {
  width: 100%;
  min-height: 100vh;
  position: relative !important;
  background: url('../assets/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  @include display-flex(row, none, center);
  background-color: #fafafa;

  @include screen-tablet {
    background: url('../assets/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.app {
  width: calc(100% - 3rem);
  max-width: 540px;
  margin-top: 3rem;
  height: fit-content;

  @include screen-tablet {
    margin-top: 4.375rem;
  }

  .header {
    @include display-flex(row, center, space-between);
    margin-bottom: 2.5rem;

    .logo {
      display: block;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
      letter-spacing: 10px;
      color: white;
      line-height: 0;
      margin-top: 8px;
    }
  }

  .form {
    width: 100%;
    height: 3rem;
    background: #ffffff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    padding: 0 1.25rem;
    @include display-flex(row, center, none);
    column-gap: 20px;
    margin-bottom: 1rem;

    @include screen-tablet {
      height: 4rem;
    }

    .mark {
      height: 20px !important;
      width: 20px !important;
      border: 2px solid $light-theme-very-light-grayish-blue;
      box-sizing: border-box;
      padding: 0;
      border-radius: 50%;
    }

    .input {
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      color: $dark-theme-very-dark-blue;
      font-family: inherit;

      @include screen-tablet {
        font-size: 18px;
      }

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-size: 12px;
        color: $dark-theme-dark-grayish-blue;
        font-family: inherit;

        @include screen-tablet {
          font-size: 18px;
        }
      }
    }
  }

  .toDoContainer {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    margin-bottom: 16px;

    .toDoWrapper {
      border-bottom: 1px solid $light-theme-very-light-grayish-blue;
    }

    .toDoList {
      width: 100%;
    }

    .toDoItem {
      @include display-flex(row, center, none);
      width: 100%;
      height: 3rem;
      padding: 0 1.25rem;
      cursor: move;

      @include screen-tablet {
        height: 4rem;

        &:hover .closeButton {
          display: block;
        }
      }

      .toDoItemStatus {
        height: 20px;
        width: 20px;
        border: 2px solid $light-theme-very-light-grayish-blue;
        border-radius: 50%;
        margin-right: 20px;
        cursor: pointer;

        @include display-flex(row, center, center);
      }

      .toDoItemStatusCompleted {
        background: $primary-check-background;
        border: none;
      }

      .toDoItemDescription {
        color: $dark-theme-very-dark-desaturated-blue;
        font-size: 12px;

        @include screen-tablet {
          font-size: 18px;
        }
      }

      .toDoItemDescriptionCompleted {
        color: $light-theme-light-grayish-blue;
        text-decoration: line-through;
      }
    }

    .closeButton {
      @include display-flex(row, center, center);
      margin-left: auto !important;
      background: transparent;
      border: none;
      cursor: pointer;

      @include screen-tablet {
        display: none;
      }
    }

    .toDoInfo {
      height: 3rem;
      @include display-flex(row, center, space-between);
      padding: 0 1.25rem;

      .toDoInfoDescription {
        font-size: 12px;
        color: $dark-theme-dark-grayish-blue;

        @include screen-tablet {
          font-size: 14px;
        }
      }

      .toDoInfoButton {
        font-family: inherit;
        font-size: 12px;
        color: $dark-theme-dark-grayish-blue;
        background-color: transparent;
        border: none;
        cursor: pointer;

        @include screen-tablet {
          font-size: 14px;
        }
      }

      .toDoInfoFilter {
        column-gap: 18px;
        display: none;
        @include screen-tablet {
          font-size: 14px;
          @include display-flex(row, center, center);
        }

        button {
          background-color: transparent;
          border: none;
          font: inherit;
          font-weight: 700;
          font-size: 14px;
          color: $dark-theme-dark-grayish-blue;
          cursor: pointer;
          padding: 0;

          &:hover {
            color: $dark-theme-very-dark-blue;
          }
        }

        .filterActive {
          color: $primary-bright-blue;

          &:hover {
            color: $primary-bright-blue;
          }
        }
      }
    }
  }

  .filter {
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
    border-radius: 5px;
    height: 3rem;

    @include display-flex(row, center, center);
    column-gap: 20px;

    @include screen-tablet {
      height: 4rem;
      display: none;
    }

    button {
      background-color: transparent;
      border: none;
      font: inherit;
      font-weight: 700;
      font-size: 14px;
      color: $dark-theme-dark-grayish-blue;
      cursor: pointer;
      padding: 0;

      @include screen-tablet {
        font-size: 14px;
      }

      &:hover {
        color: $dark-theme-very-dark-blue;
      }
    }

    .filterActive {
      color: $primary-bright-blue;

      &:hover {
        color: $primary-bright-blue;
      }
    }
  }
}
